
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container footer-content">

    Made with <font class="a-pink"><i class ="fa fa-heart"></i></font> to serve the community by Check Point Research    |    <a class="a-pink" href="https://research.checkpoint.com">Research blog</a>    |    <a class="a-pink" href="https://research.checkpoint.com/about-us/">About Us</a>    |    <a class="a-pink" href="https://github.com/CheckPointSW"><i class="fa fa-github fa-lg"></i></a> <a class="a-pink" href="https://twitter.com/_CPResearch_"><i class="fa fa-twitter fa-lg"></i></a>
    
    <br>
    
    © 1994-2021 Check Point Software Technologies LTD | All rights reserved | Property of CheckPoint.com


  </div>
</nav>
