<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container footer-content">

    Made with <a><i class ="fa fa-heart"></i></a> by Check Point Research    |    <a href="https://research.checkpoint.com">Research blog</a>    |    <a href="https://research.checkpoint.com/about-us/">About Us</a>    |    <a href="https://github.com/CheckPointSW"><i class="fa fa-github fa-lg"></i></a> <a href="https://twitter.com/_CPResearch_"><i class="fa fa-twitter fa-lg"></i></a>
    
    <br>
    
    © 1994-2019 Check Point Software Technologies LTD | All rights reserved | Property of CheckPoint.com


  </div>
</nav>
